<section class="contact container section--margin-bottom">
  <div class="contact__title-container" data-aos="fade-right">
    <div class="contact__separator"></div>
    <h2 class="contact__title title">Contact</h2>
  </div>
  <div class="contact__container">
    <div class="contact__content" data-aos="fade-right">
      <h3 class="contact__description1">
        {{ "contact.description1" | translate }}
      </h3>
      <p class="contact__description2">
        {{ "contact.description2" | translate }}
      </p>
      <p class="contact__description3">
        {{ "contact.description3" | translate }} <strong>{{ "contact.description3Bold" | translate }}</strong>
      </p>
    </div>
    <form
      data-aos="fade-left"
      class="contact__form"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <div class="contact__input-container">
        <input
          class="contact__input"
          #name="ngModel"
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          placeholder="{{ 'contact.namePlaceholder' | translate }}"
          [ngClass]="{
            'contact_input-border-red': name.touched && name.invalid,
            'contact_input-border-green': name.touched && name.valid
          }"
          required
        />
        @if(!name.valid && name.touched){
        <img
          class="contact__warning-img"
          width="26"
          height="26"
          src="assets/img/contact/redalert.png"
          alt=""
        />
        } @else if (name.valid && name.touched) {
        <img
          class="contact__warning-img"
          width="26"
          height="26"
          src="assets/img/contact/greenalert.png"
          alt=""
        />
        } @if(!name.valid && name.touched){
        <span class="contact__input-warning">{{ 'contact.nameError' | translate }}</span>
        }
      </div>

      <div class="contact__input-container">
        <input
          class="contact__input"
          #email="ngModel"
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          placeholder="{{ 'contact.emailPlaceholder' | translate }}"
          [ngClass]="{
            'contact_input-border-red': email.touched && email.invalid,
            'contact_input-border-green': email.touched && email.valid
          }"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />
        @if(!email.valid && email.touched){
        <img
          class="contact__warning-img"
          width="26"
          height="26"
          src="assets/img/contact/redalert.png"
          alt=""
        />
        } @else if (email.valid && email.touched) {
        <img
          class="contact__warning-img"
          width="26"
          height="26"
          src="assets/img/contact/greenalert.png"
          alt=""
        />
        } @if(!email.valid && email.touched){
        <span class="contact__input-warning">{{ 'contact.emailError' | translate }}</span>
        }
      </div>
      <div class="contact__input-container">
        <textarea
          rows="7"
          class="contact__input"
          #message="ngModel"
          [(ngModel)]="contactData.message"
          id="message"
          name="message"
          placeholder="{{ 'contact.messagePlaceholder' | translate }}"
          [ngClass]="{
            'contact_input-border-red': message.touched && message.invalid,
            'contact_input-border-green': message.touched && message.valid
          }"
          required
        ></textarea>
        @if(!message.valid && message.touched){
        <img
          class="contact__warning-img"
          width="26"
          height="26"
          src="assets/img/contact/redalert.png"
          alt=""
        />
        } @else if (message.valid && message.touched) {
        <img
          class="contact__warning-img"
          width="26"
          height="26"
          src="assets/img/contact/greenalert.png"
          alt=""
        />
        }@if(!message.valid && message.touched){
        <span class="contact__input-warning">{{ 'contact.messageError' | translate }}</span>
        }
      </div>
      <label class="contact__checkbox-label" for="checkbox">
        <input
          class="contact__checkbox"
          #checkbox="ngModel"
          [(ngModel)]="contactData.checkbox"
          type="checkbox"
          id="checkbox"
          name="checkbox"
          required
        />
        <p class="contact__checkbox-description">
          {{ 'contact.checkboxLabel1' | translate }}
          <a href="/privacy" class="contact__checkbox-link">{{ 'contact.checkboxLabel2' | translate }}</a> {{ 'contact.checkboxLabel3' | translate }}
        </p>
        @if((checkbox.invalid && name.valid && email.valid && message.valid) ||
        (checkbox.invalid && checkbox.touched)){
        <span class="contact__input-warning"
          >{{ 'contact.privacyError' | translate }}</span
        >
        }
      </label>
      <input
        class="contact__btn btn"
        [ngClass]="{
          'contact__btn-valid':
            name.valid && email.valid && message.valid && checkbox.valid
        }"
        type="submit"
        value="{{ 'contact.sendButton' | translate }}"
      />
    </form>
  </div>
  <a href="#landing-page" class="contact__btn-up"
    ><img
      width="39"
      height="39"
      src="assets/img/contact/up-button.png"
      alt="an icon of an arrow"
  /></a>
  <img
    class="contact__shadow-green"
    width="158"
    height="467"
    src="./../../../assets/img/contact/green-shadow.png"
    alt="a green shadow"
  />
  <img
    class="contact__shadow-blue"
    width="158"
    height="467"
    src="./../../../assets/img/contact/blue-shadow.png"
    alt="a green shadow"
  />
</section>
