@import "./../../../styles/variables.scss";
@import "./../../../styles/utils.scss";

.about{
  overflow: hidden;
  position: relative;
}

.about__title {
  margin-bottom: 2rem;
}

.about__item1 > * + * {
  margin-top: 2rem;
}

.about__description2-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
}

.about__description-icon{
  &:hover{
    transform: scale(1.2);
  }
}

.about__item2 {
  display: none;
  align-items: center;
}

.about__item2-img {
  width: 70rem;
  height: 20rem;
  border: 3px solid $clr-light-blue;
  border-radius: 50%;
  object-fit: contain;
  object-position: bottom;
}

.about__item2-separator {
  border: 2px solid $clr-light-blue;
  display: none;
}

.about__shadow{
  position: absolute;
  z-index: -1;
  right: -200px;
  top: 650px;
  height: 415px;
  width: auto;
  overflow: hidden;
}

.about__item2-content{
  display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .about__description1 {
    max-width: 48ch;
  }

  .about__description2-container {
    padding-left: 1rem;
  }

  .about__description2-text {
    max-width: 40ch;
  }

  .about__shadow{
    top: 800px;
  }
}

/* md */
@media (min-width: 768px) {
  .about__description1 {
    max-width: 53ch;
  }

  .about__description2-container {
    padding-left: 2rem;
    gap: 2rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .about__container {
    display: flex;
    justify-content: space-between;
  }

  .about__description1 {
    max-width: 45ch;
  }

  .about__description2-text {
    max-width: 30ch;
  }

  .about__item1{
    flex: 1;
  }

  .about__item2-img {
    width: 20rem;
    height: 20rem;
  }

  .about__item2 {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .about__shadow{
    right: -400px;
    top: 850px;
    height: 608px;
  }

  .about__item2-separator {
    display: block;
    position: relative;
    z-index: 1;
    width: 200px;
  }

}

/* xl */
@media (min-width: 1280px) {
  .about__description1 {
    max-width: 51ch;
  }

  .about__description2-text {
    max-width: 40ch;
  }

  .about__item2-img {
    width: 24rem;
    height: 24rem;
  }

  .about__item2-separator {
    width:300px;
  }

  .about__shadow{
    right: -200px;
    top: 1000px;
    height: 608px;
  }
}

/* 2xl */
 @media (min-width: 1536px) {
  .about__shadow{
    right: 0;
    top: 1100px;
  }
 } 
