<section class="about container">
  <h2 class="title">About me</h2>
  <div class="about__container">
    <div class="item1">
      <p class="about__description1">
        Hi, I am a Front-end deverloper based in München, Germany(....)Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
        tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
        porttitor sapien. Donec sollicitudin massa vel lorem vestibulum
        efficitur.
      </p>
      <div class="about__description-container">
        <img
          src=""
          alt="an icon of a light bulb"
          class="about__description-icon"
        />
        <p class="about__description-text">
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
      <div class="about__description-container">
        <img src="" alt="an icon of a puzzle" class="about__description-icon" />
        <p class="about__description-text">
          Some personal thing to share(...) Donec ut imperdiet diam, et convallis
          neque. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos.
        </p>
      </div>
    </div>
    <div class="item2" style="display: none"></div>
  </div>
</section>
