<app-navbar></app-navbar>
<section class="hero container">
  <div class="hero__container">
    <img
      width="1535"
      height="2126"
      class="hero__img"
      src="./../../../assets/img/landing-page/hero-photo.png"
      alt="portrait picture of a man"
    />
    <div class="hero__main-container">
      <div class="hero__text-container">
        <span class="hero__description1">I am</span>
        <div class="hero__horizontal-text-container">
          <h1 class="hero__title title">Alex Eremie</h1>
          <h2 class="hero__description2">Frontend Developer</h2>
        </div>
      </div>
      <a class="btn hero__btn">Let's talk!</a>
    </div>
  </div>
  <div class="hero__social-container">
    <div class="hero__separator"></div>
    <img
      src="./../../../assets/img/landing-page/github.png"
      alt=""
      class="hero__social"
    />
    <img
      src="./../../../assets/img/landing-page/email.png"
      alt=""
      class="hero__social"
    />
    <img
      src="./../../../assets/img/landing-page/linkedin.png"
      alt=""
      class="hero__social"
    />
    <p class="hero__email">alex.eremie19&#64;gmail.com</p>
  </div>
  <div class="hero__scroll-container">
    <p>Scroll down</p>
    <img
      class="hero__scroll-arrow"
      src="./../../../assets/img/landing-page/white-arrow.png"
      alt="a small arrow"
    />
  </div>
</section>
