@import "./../../../styles/utils.scss";
@import "./../../../styles/variables.scss";

.hero {
  text-align: center;
  height: calc(100dvh - 110px);
  position: relative;
}

.hero__container {
  position: relative;
}

.hero__img-container {
  position: relative;
  display: flex;
  z-index: -1;
}

.hero__img {
  height: 25rem;
  object-fit: contain;
  margin-inline: auto;
  z-index: 1;
}

.hero__bg-shadow {
  position: absolute;
}

.hero__bg-purple-shadow {
  top: 0;
  left: -45px;
}

.hero__bg-green-shadow {
  top: 0;
  right: 0px;
}

.hero__main-container {
  margin-top: 1rem;
  position: relative;
  z-index: 2;
}

.hero__text-container {
  text-align: start;
  display: flex;
  justify-content: center;
}

.hero__description1 {
  @keyframes fade-top {
    0% {
      translate: 0 -1000px;
    }
    100% {
      translate: 0;
    }
  }
  animation: fade-top 1s 1;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  font-size: $size-2xl;
  display: block;
}

.hero__description1-de {
  font-size: $size-lg !important;
}

.hero__title {
  line-height: 1.1;
}

.hero__description2 {
  @keyframes fade-left {
    0% {
      translate: 1000px;
    }
    100% {
      translate: 0;
    }
  }
  animation: fade-left 1s 1;
  text-transform: uppercase;
  font-size: $size-xl;
  letter-spacing: -0.025em;
  line-height: 1.1;
  font-weight: 400;
  color: $clr-dark-blue;
}

.hero__btn {
  margin-top: 1rem;
}

.hero__social-container {
  display: flex;
  justify-content: center;
  gap: 2.6rem;
  position: relative;
  bottom: 0;
  margin-top: 2.5rem;
}

.hero__social {
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}

.hero__email {
  display: none;
}

.hero__separator {
  border: 2px solid $clr-dark-blue;
  padding: 0 1.2rem;
  height: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  left: 0;
  top: 50%;
}

.hero__scroll-container {
  @keyframes jump {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-30px);
    }

    60% {
      transform: translateY(-15px);
    }
  }

  animation: jump 2s ease infinite;
  position: absolute;
  top: 500px;
  right: 2rem;
  align-items: center;
  gap: 1rem;
  writing-mode: vertical-lr;
  display: none;
}

.hero__scroll-arrow {
  width: 1em;
  height: 1em;
}

.hero__border-bottom-mobile {
  position: absolute;
  z-index: 1;
  top: 420px;
  left: 0;
  right: 0;
  height: 250px;
  width: 100%;
}

.hero__border-bottom-desktop {
  display: none;
}

/* xs */
@media (min-width: 475px) {
  .hero__bg-purple-shadow {
    left: -35px;
  }

  .hero__bg-green-shadow {
    right: -35px;
  }

  .hero__img {
    width: 30rem;
    height: 30rem;
  }

  .hero__description1 {
    font-size: $size-4xl;
  }

  .hero__description1-de {
    font-size: $size-2xl !important;
  }

  .hero__title {
    line-height: 1.2;
  }

  .hero__description2 {
    font-size: $size-3xl;
  }

  .hero__social-container {
    margin-top: 3rem;
  }

  .hero__separator {
    padding: 0 2rem;
  }

  .hero__border-bottom-mobile {
    top: 500px;
  }
}

/* sm */
@media (min-width: 640px) {
  .hero__container > * + * {
    margin-top: 1rem;
  }

  .hero__bg-purple-shadow {
    left: -25px;
  }

  .hero__bg-green-shadow {
    right: -25px;
  }

  .hero__img {
    height: 33rem;
  }

  .hero__description1 {
    font-size: $size-5xl;
  }

  .hero__description1-de {
    font-size: $size-4xl !important;
  }

  .hero__title {
    line-height: 1.4;
  }

  .hero__description2 {
    font-size: $size-4xl;
    line-height: 1.5;
  }

  .hero__btn {
    font-size: $size-lg;
  }

  .hero__separator {
    padding: 0 4rem;
  }

  .hero__border-bottom-mobile {
    top: 550px;
  }
}

/* md */
@media (min-width: 768px) {
  .hero__bg-purple-shadow {
    left: 45px;
  }

  .hero__bg-green-shadow {
    right: 45px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero {
    position: relative;
    height: calc(100dvh - 150px);
  }

  .hero__main-container {
    margin-top: 0;
  }

  .hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__bg-purple-shadow {
    left: -35px;
    top: 100px;
  }

  .hero__bg-green-shadow {
    right: -35px;
    top: 100px;
  }

  .hero__img {
    margin-inline: 0;
  }

  .hero__btn {
    margin-top: 2rem;
  }

  .hero__social-container {
    margin-top: 5rem;
    justify-content: flex-start;
    padding-left: 10rem;
    z-index: 2;
  }

  .hero__email {
    display: block;
  }

  .hero__scroll-container {
    display: flex;
    z-index: 2;
  }

  .hero__border-bottom-mobile {
    display: none;
  }

  .hero__border-bottom-desktop {
    max-width: none;
    display: block;
    position: absolute;
    top: 410px;
    left: 0;
    right: 0;
    width: 100%;
    height: 450px;
    z-index: 1;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero__description1 {
    font-size: $size-6xl;
  }

  .hero__img {
    height: 45rem;
  }

  .hero__title {
    line-height: 0.9;
    letter-spacing: -0.025em;
  }

  .hero__description1-de {
    font-size: $size-5xl !important;
  }

  .hero__description2 {
    font-size: $size-6xl;
    line-height: 1;
    letter-spacing: -0.025em;
  }

  .hero__border-bottom-desktop {
    top: 600px;
  }

  .hero__scroll-container {
    top: 700px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .hero {
    height: calc(100dvh - 150px);
  }

  .hero__img {
    width: 45rem;
    height: 50rem;
  }

  .hero__bg-purple-shadow {
    left: 25px;
    top: 150px;
  }

  .hero__bg-green-shadow {
    right: 25px;
    top: 150px;
  }

  .hero__scroll-container {
    font-size: $size-2xl;
    top: 750px;
    min-height: 30ch;
  }

  .hero__social {
    width: 40px;
  }

  .hero__email {
    font-size: $size-2xl;
  }

  .hero__border-bottom-desktop {
    top: 700px;
  }
}
