<section
  class="hero container section--margin-bottom"
  data-aos="fade-up"
  data-aos-delay="300"
  data-aos-duration="500"
  data-aos-easing="ease-in-out"
>
  <div class="hero__container">
    <div class="hero__img-container">
      <img
        width="959"
        height="1329"
        class="hero__img"
        src="./../../../assets/img/landing-page/hero-photo.png"
        alt="portrait picture of a man"
      />
      <img
        class="hero__bg-purple-shadow hero__bg-shadow"
        width="330"
        height="574"
        src="./../../../assets/img/landing-page/purple-shadow.png"
        alt="a purple shadow"
      />
      <img
        class="hero__bg-green-shadow hero__bg-shadow"
        width="342"
        height="507"
        src="./../../../assets/img/landing-page/green-shadow.png"
        alt="a green shadow"
      />
    </div>

    <div class="hero__main-container">
      <div class="hero__text-container">
        <span
          [ngClass]="{ 'hero__description1-de': languageService.german }"
          class="hero__description1"
          >{{ "hero.iAm" | translate }}</span
        >
        <div class="hero__horizontal-text-container">
          <h1 class="hero__title title">Alex Eremie</h1>
          <h2 class="hero__description2">{{ "hero.frontend" | translate }}</h2>
        </div>
      </div>
      <a
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        class="btn hero__btn"
        href="#contact"
        >{{ "hero.button" | translate }}</a
      >
    </div>
  </div>
  <div class="hero__social-container">
    <div class="hero__separator"></div>
    <a href="https://github.com/ereit673" target="_blank"
      ><img
        src="./../../../assets/img/landing-page/github.png"
        alt=""
        class="hero__social"
    /></a>
    <a href="mailto:contact@alexeremie.com"
      ><img
        src="./../../../assets/img/landing-page/email.png"
        alt=""
        class="hero__social"
    /></a>
    <a href="https://www.linkedin.com/in/alex-eremie/" target="_blank"
      ><img
        src="./../../../assets/img/landing-page/linkedin.png"
        alt=""
        class="hero__social"
    /></a>
    <a href="mailto:contact@alexeremie.com" class="hero__email"
      >contact&#64;alexeremie.com</a
    >
  </div>
  <div class="hero__scroll-container">
    <p>{{ "hero.scroll" | translate }}</p>
    <img
      class="hero__scroll-arrow"
      src="./../../../assets/img/landing-page/white-arrow.png"
      alt="a small arrow"
    />
  </div>
  <img
    class="hero__border-bottom-mobile"
    width="1440"
    height="879"
    src="./../../../assets/img/landing-page/border-bottom-mobile.png"
    alt="a border"
  />
</section>
<img
  class="hero__border-bottom-desktop"
  width="1442"
  height="1079"
  src="./../../../assets/img/landing-page/border-bottom-desktop.png"
  alt="a border"
/>
