<header class="header container">
  <img
    height="500"
    width="500"
    src="./../../../../assets/img/landing-page/logo.png"
    class="header__logo"
  />
  <nav class="header__menu">
    <a class="header__link header__link-no-margin" href="#about-me">{{
      "navbar.about_me" | translate
    }}</a>
    <a class="header__link" href="#skills">Skills</a>
    <a class="header__link" href="#portfolio">Portfolio</a>
    <div class="header__lang-container">
      <a class="header__lang-link" (click)="changeLanguage('en')">EN</a>
      <a class="header__lang-link" (click)="changeLanguage('de')">DE</a>
    </div>
  </nav>
  <img (click)="openMenu()" class="header__bars" src="{{ menuImg }}" alt="" />
</header>
<div class="mobile-nav" [ngClass]="{ 'mobile-nav-active': menuValue }">
  <a class="mobile-nav__link" href="#about-me" (click)="openMenu()">{{
    "navbar.about_me" | translate
  }}</a>
  <a class="mobile-nav__link" href="#skills" (click)="openMenu()">Skills</a>
  <a class="mobile-nav__link" href="#portfolio" (click)="openMenu()"
    >Portfolio</a
  >
  <a class="mobile-nav__link" href="#contact" (click)="openMenu()">Contact</a>
  <div class="mobile-nav__link">
    <a class="mobile-lang" (click)="changeLanguage('en')">EN</a>
    <a class="mobile-lang mobile-lang--margin" (click)="changeLanguage('de')"
      >DE</a
    >
  </div>
</div>
