@import "./../../../../styles/variables.scss";
@import "./../../../../styles/utils.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  height: 110px;
}

.header__logo {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.header__bars {
  cursor: pointer;
}

.header__menu {
  display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .header__bars {
    display: none;
  }

  .header__menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .header__lang-container{
    display: flex;
    gap: 0.5rem;
  }

  .header__lang-link{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid $clr-light-blue;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;

    &:hover{
      color: $clr-light;
      background-color: $clr-light-blue;
    }
  }

  .header__link {
    color: $clr-light;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s;
    position: relative;

    &:hover {
      color: $clr-light-blue;
    }

    &:active {
      color: $clr-light-blue;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 55.5px;
        border-bottom: 3px solid #9747ff;
      }
    }
  }
}

.mobile-nav {
  position: fixed;
  z-index: 9;
  top: 110px;
  right: -100px;
  width: 100%;
  height: 100%;

  transform: translateX(100%);
  transition: 0.4s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  background-color: #414856;

  .mobile-nav__link {
    text-decoration: none;
    color: $clr-light;
    font-size: 1.8rem;
    &:active {
        color: $clr-light-blue;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
          width: 55.5px;
          border-bottom: 3px solid #9747ff;
        }
      }
  }
}

.mobile-lang{
  color: $clr-light-blue;
  font-weight: 700;
}

.mobile-lang--margin{
  margin-left: 2rem;
}

.mobile-nav-active {
  left: 0px;
  transform: translateX(0);
  transition: 0.4s ease-in-out;
}

/* lg */
 @media (min-width: 1024px) {
  .header{
    padding: 2rem 2rem;
  }

  .header__title{
    font-size: $size-5xl;
  }
 } 

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
