/* You can add global styles to this file, and also import other style files */
@import './styles/utils.scss';
@import './styles/variables.scss';

@font-face {
    font-family: 'poppins';
    src: url(./assets/fonts/poppins/Poppins-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'poppins';
    src: url(./assets/fonts/poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: $font-primary;
    background-color: $clr-dark;
    color: $clr-light;
    overflow-x: hidden;
}

img,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}
