<footer class="footer container">
  <div class="footer__item1">
    <a href="#" class="footer__title">Alex</a>
    <a class="footer__imprint-link footer__desktop-link" href="#">Imprint</a>
  </div>
  <p class="footer__description">&copy; Alex Eremie 2024</p>
  <div class="footer__social-container">
    <a href="https://github.com/ereit673" target="_blank"><img
      class="footer__social-img"
      width="30"
      height="30"
      src="./../../../assets/img/landing-page/github.png"
      alt="Logo of github"
    /></a>
    <a href="mailto:alex.eremie19@gmail.com"><img
      class="footer__social-img"
      width="30"
      height="30"
      src="./../../../assets/img/landing-page/email.png"
      alt="Logo of email"
    /></a>
    <a href="https://www.linkedin.com/in/alex-eremie/" target="_blank"><img
      class="footer__social-img"
      width="30"
      height="30"
      src="./../../../assets/img/landing-page/linkedin.png"
      alt="Logo of linkedin"
    /></a>
  </div>
  <a class="footer__imprint-link footer__mobile-link" href="#">Imprint</a>
</footer>
